[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/erramsai
[access "refs/for/refs/*"]
	read = group user/erramsai
	push = group user/erramsai
	label-Code-Review = -2..+2 group user/erramsai
	label-Verified = -1..+1 group user/erramsai
	rebase = group user/erramsai
	removeReviewer = group user/erramsai
	submit = group user/erramsai
[access "refs/heads/*"]
	read = group user/erramsai
	create = group user/erramsai
	push = +force group user/erramsai
	pushMerge = group user/erramsai
[access "refs/tags/*"]
	push = +force group user/erramsai
	pushTag = group user/erramsai
	pushSignedTag = group user/erramsai
